Legend of possible outcomes:
SUFFICIENCY: INSUFFICIENT
SUFFICIENCY: SUFFICIENT

This unit was never verified.
